<app-header (redirect)="redirectPage($event)"></app-header>
<div class="wrap">
  <app-menu [page]="showPage" (clickChangeMenu)="changeMenu()" (redirectToUser)="redirectToUser()" (redirectToGroup)="redirectToGroup()"></app-menu>
  <ng-container *ngIf="showPage==='usermanagement'">
    <app-user (redirectToManager)="redirectToManager()" [sectionClass]="sectionClass" [listUser]="listUser" (redirect)="redirectToFormUser()"></app-user>
  </ng-container>
  <ng-container *ngIf="showPage==='form-user'">
    <app-form-user (removeUserFormAddList)="removeUserFormAddList($event)" [sectionClass]="sectionClass" (saveUser)="saveUser()" [listUserAdd]="listUserAdd" (redirectToUser)="redirectToUser()" (addUserToList)="addUserToList($event)"></app-form-user>
  </ng-container>
  <ng-container *ngIf="showPage==='dashboard'">
    <app-dashboard [sectionClass]="sectionDashboardClass"></app-dashboard>
  </ng-container>
  <ng-container *ngIf="showPage==='myaccount'">
    <app-myaccount [sectionClass]="sectionClass"></app-myaccount>
  </ng-container>
  <ng-container *ngIf="showPage==='groupmanagement'">
    <app-group [sectionClass]="sectionClass"></app-group>
  </ng-container>
</div><!-- wrap -->