<nav id="nav" [ngClass]="navClass">
  <div class="btn btn-primary btn-s btn-menu" (click)="changeMenu()">
    <a [ngClass]="buttonClass">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
  <ul class="nav">
    <li><a (click)="redirectToManager()"><span class="icon-nav lmenu_user"></span><span class="nav-item">User
          management</span></a></li>
    <li><a href="usergroupmanage.html"><span class="icon-nav lmenu_group"></span><span class="nav-item">Group
          management</span></a></li>
  </ul>
</nav>